<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">
    <resultMap id="UserMap" type="User">
        <id property="id" column="id" jdbcType="BIGINT" />
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="getAllUsers" resultType="com.example.demo.model.User">
        select * from user
    </select>
    <select id="getUserById" resultType="com.example.demo.model.User" >
        select * from user where id = #{id}
    </select>
    <insert id="createUser" >
        insert into user (id,user_name)
        values (#{id},#{userName})
    </insert>

    <delete id="removeUserById">
        delete from user where id = #{id}
    </delete>

    <update id="updateUserById">
        update user
        set user_name = #{userName}
        where id = #{id}
    </update>
</mapper>