<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;">
  <p>
    <a th:href="@{/user}">
      Back to list user
    </a>
  </p>
  <div id="form">
    <form action="#" th:action="@{/user/update}" th:object="${user}"
          method="POST" novalidate="novalidate">
      <input type="hidden" th:field="*{id}"/>
      <div>
        <label>Name</label>
        <input type="text" th:field="*{userName}"/>
        <input type="submit" value="Update User"/>
      </div>
    </form>
  </div>
</div>
</body>
</html>