<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;">
    <h2 style="color:blue;">This is User page</h2>
    <p>
        <a th:href="@{/user/create}">
            New User
        </a>
    </p>
    <div style="margin: auto;padding: 10px;">
        <table id="users">
            <thead>
            <tr>
                <th>User's Name</th>
                <th>Option</th>
            </tr>
            </thead>
            <thead>
            <tr th:each="user: ${users}">
                <td><a th:href="@{/user/view/{id}(id=${user.id})}"><span th:text="${user.userName}"></span></a></td>
                <td><a th:href="@{/user/update/{id}(id=${user.id})}">Update</a></td>
                <td><a th:href="@{/user/remove/{id}(id=${user.id})}">Remove</a></td>
            </tr>
            </thead>
        </table>
    </div>
</div>
<!--<div th:each="user: ${users}">-->
<!--  <div>User name: <a th:href="@{/{id}/view(id=${user.getId()})}"><span th:text="${user.userName}"></span></a></div>-->
<!--</div>-->
</body>
</html>