<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;">
    <h3>User Detail:</h3>
    <p>
        <a th:href="@{/user}">
            Back to list user
        </a>
    </p>
    <div style="color:green">User Name: <span th:text="${user.userName}"></span><a th:href="@{/user/view/{id}/product(id=${user.id})}">Product</a></div>
</div>
</body>
</html>